body{
    background-color: #cdcff8; 
    color: #07274d;
}
.container{    
    border:1px solid #0075ff;
    background-color: #d2def7;
    border-radius: 30px;
    margin-top: 5px;
}
  

  .navbar{      
      font-family: 'chewy', cursive;
      background: linear-gradient(to right,#343a40,#4ba2fe,hsl(360, 91%, 36%));
      box-shadow: 0 0 25px #4ba2fe;
    }

  .card{
      background: none;
      border:none;
  }
  .card-header{
 
      font-size: 24px;  
      border-radius: 30px;      
      border:none;
      background-color: transparent;
  }
  #ppfooter{
      border-top: 1px solid #0075ff;
      text-align: center;
      box-shadow: 0 0 25px #4ba2fe;
  }
  #pwdBackground{
      background-color: #ce422d;
      padding:10px;
  }
  
  .no-border {
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.btn{
    margin:5px;
}

.bubble {
    background-color: #ce422d;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 75%;
    top:50%;    
  } 
  
  label,#pwdLength{
      font-family:  Arial, Helvetica, sans-serif;
      font-weight:400;
  }
  #strengthSymbol,#strengthText{
      color:black;
  }
 